DATABASE_URL=postgres://postgres:postgres@localhost:1234/walnut
# for the empty database, set SQLX_OFFLINE to true, later when migrations are done, it can be set to false
SQLX_OFFLINE=true
NODE_URL=

# Telegram bot API key and chat id for notifications
TELEGRAM_BOT_API_KEY=
TELEGRAM_WALNUT_NOTIFICATIONS_CHAT_ID=