DATABASE_URL=postgres://postgres:postgres@localhost:1234/walnut
# for the empty database, set SQLX_OFFLINE to true, later when migrations are done, it can be set to false
SQLX_OFFLINE=true
NODE_URL=

# Telegram bot API key and chat id for notifications
TELEGRAM_BOT_API_KEY=
TELEGRAM_WALNUT_NOTIFICATIONS_CHAT_ID=

AWS_ACCESS_KEY_ID=<access key>
AWS_SECRET_ACCESS_KEY=<secret key>
S3_ENDPOINT=https://s3.fr-par.scw.cloud
S3_REGION=fr-par

BINARIES_S3_BUCKET_NAME=walnut-public-deployment-binaries
# Assure it doesn't end with "/" character
BINARIES_SAVE_DIRECTORY_PATH=./binaries