/target

.env
log.txt
tmp
.cache

binaries/

# universal-sierra-compiler binary, skinut preko scripts/install-usc.sh
universal-sierra-compiler
universal-sierra-compiler-tmp/

local/docker-volumes

flamegraph.svg
.DS_Store

local/db-docker-compose-full.yaml

.vscode/

.claude/
